<div class="container" *ngIf="!isSuccessForgot"> 
    <h2>Password Asistance</h2>  
    <p>Enter your email adress associated with your account.</p>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" [formControl]="emailForm" required [(ngModel)]="userModel.email"/>
        <mat-error *ngIf="emailForm.invalid">
            {{(emailForm.hasError('required') && emailForm.touched) ? 'Empty field' :
            emailForm.hasError('pattern') ? 'Not a valid email' : ''}}
        </mat-error>
    </mat-form-field>  
    <mat-chip-list *ngIf="responseModel" class="mat-chip-list-stacked" aria-label="Color selection">
        <mat-chip *ngFor="let error of responseModel.errors" selected color="warn">
            {{error}}
        </mat-chip>
    </mat-chip-list>
    <button mat-raised-button color="accent" (click)="submit(userModel)">Continue</button>
</div>
<div class="container" *ngIf="isSuccessForgot"> 
    <h2>Password Asistance</h2>  
    <p>
        You will receive an e-mail with a new password to login on to your e-mail box stated in your Personal Profile.
    </p>
    <p>
        Please contact our administrator if you don't receive an email message with a new password.
    </p>
    <button mat-raised-button color="accent" [routerLink]="['/account/signIn']" routerLinkActive="router-link-active" >Continue</button>
</div>