<div class="container" *ngIf="!isSuccessSignUp">
    <div class="head-photo" *ngIf="!image">
        <h3>Choose your photo:</h3>
        <label for="file" class="content-icon">
            <fa-icon size="6x" [icon]="userIcon" [fixedWidth]="true" transform=""></fa-icon>
            <input type="file" id="file" (change)="onFileChange($event.target.files)" hidden>
        </label>
    </div>
    <div *ngIf="image">
        <label for="file">
            <img [src]='image' alt="" height=150>
            <input type="file" id="file" (change)="onFileChange($event.target.files)" hidden>
        </label>
    </div>

    <label class="title">
        {{title}}
    </label>

    <mat-form-field appearance="outline" [formGroup]="form">
        <mat-label>
            Your First name
        </mat-label>
        <input matInput formControlName="firstName" [(ngModel)]="userModel.firstName" autocomplete="off" required />
        <mat-hint align="end" *ngIf="isControlInvalid('firstName')">
            {{'Invalid First Name'}}
        </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" [formGroup]="form">
        <mat-label>Your Last name</mat-label>
        <input matInput formControlName="lastName" [(ngModel)]="userModel.lastName" autocomplete="off" required />
        <mat-hint align="end" *ngIf="isControlInvalid('lastName')">
            {{'Invalid Last Name'}}
        </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" [formGroup]="form">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" formControlName="email" [(ngModel)]="userModel.email"
            autocomplete="off" required />
        <mat-hint align="end" *ngIf="isControlInvalid('email')">
            {{'Invalid Email'}}
        </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" [formGroup]="form">
        <input matInput placeholder="Enter your password" formControlName="password"
            [type]="hidePassword ? 'password' : 'text'" autocomplete="off" required />
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end" *ngIf="isControlInvalid('password')">
            {{'Empty password'}}
        </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" [formGroup]="form">
        <input matInput placeholder="Confirm your password" formControlName="confirmPassword"
            [type]="hideConfirmPassword ? 'password' : 'text'" [(ngModel)]="userModel.password" autocomplete="off"
            required />
        <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
            <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end" *ngIf="isSamePasswords('confirmPassword')">
            {{'Not same passwords'}}
        </mat-hint>
    </mat-form-field>
    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
        <mat-chip *ngFor="let error of baseModel.errors" selected color="warn">
            {{error}}
        </mat-chip>
    </mat-chip-list>
    <div class="register-row">
        <button class="register-btn" mat-raised-button color="accent" (click)="submit(userModel)"
            [disabled]="isLoading">
            Sign Up your account!
        </button>
        <mat-spinner class="register-spinner" *ngIf="isLoading" [diameter]="diameter"></mat-spinner>
    </div>
    <div class="existed-label">
        <label>
            Already have an account?
        </label>
        <button mat-raised-button color="accent" [routerLink]="['/account/signIn']"
            routerLinkActive="router-link-active" [disabled]="isLoading">
            Sign In
        </button>
    </div>
</div>
<div class="container" *ngIf="isSuccessSignUp">
    <h2>Confirm your email address</h2>
    <p>
        We have sent an email with confirmation link to your email address. In order to complete the sign-up process,
        please click the confirmation link.
    </p>
    <p>
        If you do not recieve a confirmation email, please check your spam folder. Also, please verify that you entered
        a valid email address in our sign-up form.
    </p>
</div>