.container {
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3%;
}
.container > mat-form-field {
    width: 30%;
}
.container  > button {
    width: 20%;
}
.container > p {
    width: 60%;
    font-size: 20px;
}
.existed-label {
    width: 30%;
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.existed-label > label {
    margin-right: 15px;
}
.title {
    width: 30%;
    margin-bottom: 20px;
    font-size: 24px;
}
.mat-hint {
    color: red;
}
.mat-chip-list {
    margin-bottom: 15px;
}
.errors > span {
    color: red;
    font-size: 12px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
