<div class="container" *ngIf="!isSuccessSignUp">

    <fa-icon class="content-icon" size="6x" [icon]="userIcon" [fixedWidth]="true" transform=""></fa-icon>

    <label class="title">
        {{title}}
    </label>

    <mat-form-field appearance="outline">
        <mat-label>
            Your First name
        </mat-label>
        <input matInput [formControl]="firstName" [(ngModel)]="userModel.firstName" autocomplete="off" required />
        <mat-hint align="end" *ngIf="firstName.invalid">
            {{firstName.touched && this.firstName.hasError('required') ? 'Please enter your FirstName' :
                firstName.hasError('pattern') ? 'Invalid FirstName!' : ''}}
        </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Your Last name</mat-label>
        <input matInput [formControl]="lastName" [(ngModel)]="userModel.lastName" autocomplete="off" required />
        <mat-hint align="end" *ngIf="lastName.invalid">
            {{lastName.touched && this.lastName.hasError('required') ? 'Please enter your LastName' :
                lastName.hasError('pattern') ? 'Invalid LastName!' : ''}}
        </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" [formControl]="email" [(ngModel)]="userModel.email"
            autocomplete="off" required />
        <mat-hint align="end" *ngIf="email.invalid">
            {{email.hasError('pattern') ? 'Not a valid email' :
            (email.hasError('required') && email.touched) ? 'Empty field' : ''}}
        </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <input matInput placeholder="Enter your password" [formControl]="password"
            [type]="hidePassword ? 'password' : 'text'" autocomplete="off" required />
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end" *ngIf="password.invalid">
            {{(password.hasError('required') && password.touched) ? 'Empty password' : ''}}
        </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <input matInput placeholder="Confirm your password" [formControl]="confirmPassword"
            [type]="hideConfirmPassword ? 'password' : 'text'" [(ngModel)]="userModel.password" autocomplete="off"
            required />
        <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
            <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end" *ngIf="confirmPassword">
            {{(confirmPassword.hasError('required') && confirmPassword.touched) ? 'Empty password' :
            (confirmPassword.value !== password.value && confirmPassword.touched) ? 'Not same passwords' : ''}}
        </mat-hint>
    </mat-form-field>
    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
        <mat-chip *ngFor="let error of baseModel.errors" selected color="warn">
            {{error}}
        </mat-chip>
    </mat-chip-list>
    <button mat-raised-button color="accent" (click)="submit(userModel)">Sign Up your account!</button>

    <div class="existed-label">
        <label>Already have an account?</label>

        <button class="registr-btn" mat-raised-button color="accent" [routerLink]="['/account/signIn']"
            routerLinkActive="router-link-active">Sign In</button>
    </div>
</div>
<div class="container" *ngIf="isSuccessSignUp">
    <h2>Confirm your email address</h2>
    <p>
        We have sent an email with confirmation link to your email address. In order to complete the sign-up process,
        please click the confirmation link.
    </p>
    <p>
        If you do not recieve a confirmation email, please check your spam folder. Also, please verify that you entered
        a valid email address in our sign-up form.
    </p>
</div>