<mat-toolbar class="fixed-header" color="accent">
  <mat-toolbar-row class="nav-title">

    <ng-template [ngIf]="!isAuth">

      <a class="brand" color="accent" [routerLink]="['/']" routerLinkActive="router-link-active">
        <fa-icon class="brand-icon" size="2x" [icon]="faBookOpen"></fa-icon>
        Education Store
      </a>

      <span class="header-flex"></span>

      <button mat-button class="login" [routerLink]="['/account/signIn']" routerLinkActive="router-link-active">
        Sign In
        <fa-icon size="lg" [fixedWidth]="true" [icon]="faUserCircle"></fa-icon>
      </button>

    </ng-template>

    <ng-template [ngIf]="isAuth && userRole === 'user'">

      <a class="brand" color="accent" [routerLink]="['/']" routerLinkActive="router-link-active">
        <fa-icon class="brand-icon" size="2x" [icon]="faBookOpen"></fa-icon>
        Education Store
      </a>

      <span class="header-flex"></span>

      <button mat-flat-button class="menu" [matMenuTriggerFor]="menu" *ngIf="userName">
        {{userName}}
        <fa-icon class="menu-icon" size="2x" [icon]="faUser" [fixedWidth]="true" transform="shrink-4 down-2"></fa-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="['/user/me']" routerLinkActive="router-link-active">My Profile</button>
        <button mat-menu-item>My Orders</button>
        <button mat-menu-item (click)="signOut()">Log Out</button>
      </mat-menu>

      <p>
        <button class="cart-btn" mat-raised-button color="basic" (click)="openCart()" [matBadge]="getCountPurchase()" matBadgePosition="before" matBadgeColor="primary">
          <fa-icon class="menu-icon" size="2x" [icon]="faShoppingCart" [fixedWidth]="true"
            transform="shrink-1 down-2 left-1"></fa-icon>
        </button>
      </p>


    </ng-template>

    <ng-template [ngIf]="isAuth && userRole === 'admin'">

      <a class="brand" color="accent" [routerLink]="['/printing-edition/manager']"
        routerLinkActive="router-link-active">
        <fa-icon class="brand-icon" size="2x" [icon]="faBookOpen"></fa-icon>
        Education Store
      </a>

      <span class="header-flex"></span>

      <button class="menu" mat-flat-button [matMenuTriggerFor]="menu" *ngIf="userName">
        {{userName}}
        <fa-icon size="2x" [icon]="faUser" [fixedWidth]="true" transform="shrink-4 down-2"></fa-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="['/order/get-all']" routerLinkActive="router-link-active">Order
          managment</button>
        <button mat-menu-item [routerLink]="['/user/all']" routerLinkActive="router-link-active">Users
          managment</button>
        <button mat-menu-item [routerLink]="['/printing-edition/manager']"
          routerLinkActive="router-link-active">Products managment</button>
        <button mat-menu-item [routerLink]="['/author/get']" routerLinkActive="router-link-active">Authors Page</button>
        <button mat-menu-item [routerLink]="['/user/me']" routerLinkActive="router-link-active">My Profile</button>
        <button mat-menu-item (click)="signOut()">Log Out</button>
      </mat-menu>

    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>