<div class="title">
    <span>Product managment</span>
</div>
<div class="header-row">
    <div>
        <mat-form-field class="filter-search">
            <input matInput placeholder="Search" [(ngModel)]="filterModel.searchString">
        </mat-form-field>
        <button class="search-button" mat-raised-button color="accent">Find</button>
    </div>
    <button mat-button class="tool-button" (click)="openCreateDialog()">
        <fa-icon class="create-icon" [icon]="createIcon" [fixedWidth]="true"></fa-icon>
    </button>
</div>

<div class="table-container">
    <table mat-table [dataSource]="printingEditionModel.items" matSort matSortActive="id" matSortDisableClear
        matSortDirection="asc" (matSortChange)="sortData($event)">

        <ng-container matColumnDef="id">
            <th class="column-id" mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Id </th>
            <td class="column-id" mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th class="column-title" mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Title </th>
            <td class="column-title" mat-cell *matCellDef="let element"> {{element.title }} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th class="column-description" mat-header-cell *matHeaderCellDef> Description </th>
            <td class="column-description" mat-cell *matCellDef="let element" (click)="openDescription(element.description)" > {{element.description | slice:0:75}}...</td>

        </ng-container>

        <ng-container matColumnDef="category">
            <th class="column-category" mat-header-cell *matHeaderCellDef>
                <mat-select class="select-types" [(ngModel)]="filterModel.printingEditionTypes" (closed)="closedTypeSelect($event)" multiple>
                    <mat-option *ngFor="let item of printingEditionTypes" [value]="item.value">{{item.name}}
                    </mat-option>
                </mat-select>
            </th>
            <td class="column-category" mat-cell *matCellDef="let element"> {{getType(element.printingEditionType)}}
            </td>
        </ng-container>

        <ng-container matColumnDef="author">
            <th class="column-authors" mat-header-cell *matHeaderCellDef> Authors </th>
            <td class="column-authors" mat-cell *matCellDef="let element">
                <div *ngFor="let item of element.authors; let i = index">
                    {{item.name}}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th class="column-price" mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Price </th>
            <td class="column-price" mat-cell *matCellDef="let element">
                <span>$</span>{{element.price}}
            </td>
        </ng-container>

        <ng-container matColumnDef=" ">
            <th mat-header-cell *matHeaderCellDef>
            </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button class="tool-button" (click)="openEditDialog(element)">
                    <fa-icon class="edit-icon" [icon]="editIcon" [fixedWidth]="true"></fa-icon>
                </button>
                <button mat-button class="tool-button" (click)="openRemoveDialog(element)">
                    <fa-icon class="close-icon" [icon]="closeIcon" [fixedWidth]="true"></fa-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator class="paginator" [length]="printingEditionModel.itemsCount" [pageSize]="filterModel.pageSize"
        [pageIndex]="filterModel.page - 1" [pageSizeOptions]="pageSizes" [showFirstLastButtons]="true"
        (page)="pageEvent($event)"></mat-paginator>

</div>