.title {
    margin-top: 90px;
    margin-left: 5%;
    font-weight: 500;
}
.header-row {
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
}
.create-icon {
    font-size: 30px;
}
.table-container {
    margin: 0 5%;
}
table {
    width: 100%;
}
.column-id {
    width: 6%;
}
.column-title {
    width: 19%;
}
.column-description {
    width: 30%;
}
.column-category {
    width: 9%;
}
.select-types {
    width: 150px;
}
.column-authors {
    width: 15%;
}
.column-price {
    width: 7%;
}
.edit-icon {
    font-size: 24px;
}
.close-icon {
    font-size: 24px;
}
.tool-button {
    padding: 5px;
    margin: 0 5px;
}
.mat-tooltip.tooltip {
    font-size: 26px;
}
.mat-snack-bar-container {

    // margin: 300px 0 !important;
}