
<mat-toolbar-row class="navigation">

    <span>Catalog</span>

    <span class="nav-flex"></span>

    <mat-form-field class="search-input">

        <input matInput type="text" placeholder="Search by book title, by author" >

    </mat-form-field>

</mat-toolbar-row>

<mat-grid-list cols="12" [rowHeight]="100" >

    <mat-grid-tile class="grid-search-by-types" [colspan]="2" [rowspan]="2">
        <div class="search-by-types" >

            <span>Categories</span>

            <mat-checkbox >Books</mat-checkbox>

            <mat-checkbox >Magazines</mat-checkbox>

            <mat-checkbox >Newspapres</mat-checkbox>   

        </div>
    </mat-grid-tile>

    <mat-grid-tile class="grid-content" [colspan]="10" [rowspan]="7">
        <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option >USD</mat-option>
              <mat-option value="option2">EUR</mat-option>
              <mat-option value="option3">CHF</mat-option>
            </mat-select>
          </mat-form-field>
          <p>{{selected}}</p>
    </mat-grid-tile>

    <mat-grid-tile class="grid-search-by-price" [colspan]="2" [rowspan]="2">
        <div class="search-by-price">

            <span>Price</span>

            <div class="form-price">
                <mat-form-field>
                    <input matInput type="number" autocomplete="off" placeholder="Min" [(ngModel)]="minValue">
                </mat-form-field>
                <span>-</span>
                <mat-form-field>
                    <input matInput type="number"  autocomplete="off" placeholder="Max" [(ngModel)]="maxValue">
                </mat-form-field>  
                <span>$</span>
                <button mat-raised-button color="accent" type="button" >Ok</button>
            </div>

        </div>
    </mat-grid-tile>

</mat-grid-list>