.container {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title {
    width: 25%;
    margin-bottom: 25px;
    font-size: 20px;
}
.container > mat-form-field {
    width: 25%;
}
.row {
    width: 25%;
    display: flex;
    align-items: center;
}
.row > mat-checkbox {
    margin-left: 10px;
}
.row > button {
    margin-right: 10px;
}
.row > span {
    flex: 1 1 auto;
}
.mat-hint {
    color: red;
}
.mat-form-field {
    margin-bottom: 10px;
}
.button-right{
    flex: 1 0 auto;
}
.registr-account-label {
    margin-top: 50px;
    text-align: center;
}
.registr-btn {
    margin-top: 10px;
    width: 15%;
}
.mat-hint {
    display: flex;
}
.mat-hint > a {
    color: navy;
    font-size: 12px;
    text-decoration: unset;
    flex-direction: row-reverse;
}