.container {
    margin: 5%;
    padding: 10% 30%;
    display: flex;
    flex-direction: column;  
}
.mat-form-field {
    margin-bottom: 10px;
}
.button-right{
    flex: 1 0 auto;
}
.label-link {
    color: navy;
    text-align: right;
    font-size: 12px;
    text-decoration: unset;
}