.title {
    margin-top: 5%;
    margin-left: 5%;
    font-weight: 500;
}
.table-container {
    margin: 0 5%;
}
table {
    width: 100%;
}
.paginator {
    width: 100%;
    padding-right: 5%;
}
.filter-search {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 20px;
    width: 20%;
}
.edit-icon {
    font-size: 24px;
}
.close-icon {
    font-size: 24px;
}
.tool-button {
    padding: 5px;
    margin: 0 5px;

}
.user-name-column {
    width: 35%;
}
.user-email-column {
    width: 35%;
}
.user-block-select {
    width: 100px;
}
.column-slider {
    width: 250px;
}