.title {
    margin-top: 90px;
    margin-left: 5%;
    font-weight: 500;
}
.header-row {
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
}
.table-container {
    margin: 0 5% 100px 5%;
}
table {
    width: 100%;
}