<h1 mat-dialog-title>{{data.dialogTitle}} {{data.name}}</h1>
<div mat-dialog-content class="container">

    <mat-form-field class="content-input" appearance="outline">
        <mat-label>
            Author name: 
        </mat-label>
        <input matInput [formControl]="authorName" [(ngModel)]="data.name" autocomplete="off" required/>
        <mat-error align="end" *ngIf="!authorName.valid">{{authorName.hasError('required') ? '' : 'Empty name'}}</mat-error>
    </mat-form-field>

    <div class="container-btn">
        <button class="content-btn" mat-raised-button color="accent" (click)="close()">Cancel</button>
        <button class="content-btn" mat-raised-button color="accent" [disabled]="!isValidName" [mat-dialog-close]="data">Save</button>
    </div>
</div>