.container {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content-text {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
}
.check-icon {
    color: green;
}