
.cell {
  display: flex;
  flex-direction: column;
  margin: 25px 25px;
  padding: 5% 0;
  width: 400px;
}
.btn-group {
  display: flex;
  justify-content: space-between;
}
  .card.card1 * {
    font-family: Roboto, Open Sans, Segoe UI, sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
  
  .card.card1 fieldset {
    margin: 0 15px 20px;
    padding: 0;
    border-style: none;
    background-color:#ffd740;
    // box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    //   inset 0 1px 0 #6209c9;
    border-radius: 4px;
  }
  
  .card.card1 .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
  }
  
  .card.card1 .row + .row {
    border-top: 1px solid #6209c9;
  }
  
  .card.card1 label {
    width: 15%;
    min-width: 70px;
    padding: 11px 0;
    color: #09222b;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .card.card1 input, .card.card1 button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-style: none;
  }
  
  .card.card1 input:-webkit-autofill {
    -webkit-text-fill-color: #09222b;
    transition: background-color 100000000s;
    -webkit-animation: 1ms void-animation-out;
  }
  .ElementsApp .InputElement.is-invalid {
    color: darkred;
  }
  .card.card1 .StripeElement--webkit-autofill {
    background: transparent !important;
  }
  
  .card.card1 .StripeElement {
    width: 100%;
    padding: 11px 15px 11px 0;
  }
  
  .card.card1 input {
    width: 100%;
    padding: 11px 15px 11px 0;
    color: #46461d;
    background-color: transparent;
    -webkit-animation: 1ms void-animation-out;
  }
  
 input::-webkit-input-placeholder {
    color: #46461d;
  }
  
input::-moz-placeholder {
    color: #46461d;
  }
  
 input:-ms-input-placeholder {
    color: #46461d;
  }
  
  .card.card1 button {
    display: block;
    width: calc(100% - 30px);
    height: 40px;
    margin: 40px 15px 0;
    // background-color: #f6a4eb;
    // box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    //   inset 0 1px 0 #ffb9f6;
    border-radius: 4px;
    color: #09222b;
    font-weight: 600;
    cursor: pointer;
  }
