<h1 mat-dialog-title class="container-title"> {{data.dialogTitle}} product </h1>
<div mat-dialog-content class="container">
    <div class="left-content">
        <label class="content-label">Title</label>
        <mat-form-field class="title-content">
            <input matInput #message maxlength="256" [(ngModel)]="data.printingEditionTitle" />
            <mat-hint align="end">
                {{message.value.length}} / 256
            </mat-hint>
        </mat-form-field>
        <label class="content-label">Description</label>
        <mat-form-field>
            <textarea class="description-textarea" matInput [(ngModel)]="data.printingEditionDescription">
            </textarea>
        </mat-form-field>
    </div>
    <div class="right-content">
        <label class="content-label">Types</label>
        <mat-form-field>
            <mat-select class="types-content" [(ngModel)]="data.printingEditionType">
                <mat-option *ngFor="let item of printingEditionTypes" [value]="item.value">{{item.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <label class="content-label">Authors</label>
        <mat-form-field>
            <mat-select class="types-content" msInfiniteScroll (infiniteScroll)="getNextBatch(filterModel)" [complete]="offset === 12" multiple>
                <mat-option *ngFor="let item of authorsModel.items" [value]="item.id">
                    {{item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <label class="content-label">Price</label>
        <mat-form-field [formGroup]="form">
            <span matPrefix>$ &nbsp;</span>
            <input class="price-input" matInput formControlName="price" [(ngModel)]="data.printingEditionPrice"
                autocomplete="off" required />
            <mat-error align="end" *ngIf="!form.valid">
                {{form.hasError('required') ? '' : 'Empty price'}}
            </mat-error>
        </mat-form-field>
        <label class="content-label">Currency</label>
        <mat-form-field>
            <mat-select class="currency-content" [(ngModel)]="selectedCurrency">
                <mat-option *ngFor="let item of currencyTypes" [value]="item.value">{{item.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

</div>
<div class="footer-container">
    <button class="content-btn" mat-raised-button color="accent" (click)="close()">Cancel</button>
    <button class="content-btn" mat-raised-button color="accent" (click)="submit()">Save</button>
</div>